button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
  background-color: #11519a;
  color: #fff; }

button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
  cursor: not-allowed;
  opacity: 0.5; }

button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
  background-color: #1565c0; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select {
  display: block;
  font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;
  font-size: 1em; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }

input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
select[multiple]:hover {
  border-color: #b1b1b1; }

input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
select[multiple]:focus {
  border-color: #1565c0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(18, 89, 169, 0.7);
  outline: none; }

input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
select[multiple]:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed; }

input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
select[multiple]:disabled:hover {
  border: 1px solid #ddd; }

textarea {
  resize: vertical; }

[type="search"] {
  appearance: none; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin-bottom: 0.75em; }

dl dt {
  font-weight: 600;
  margin-top: 0.75em; }

dl dd {
  margin: 0; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #1565c0;
  text-decoration: none;
  transition: color 150ms ease; }

a:active, a:focus, a:hover {
  color: #104c90; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

body {
  background-color: #fff;
  margin: 0px;
  padding: 0px 1em; }

code {
  padding: 2px 5px;
  background-color: #eee; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.homepage {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }

.homepage::after {
  clear: both;
  content: "";
  display: table; }

.homepage__sidebar {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }

.homepage__sidebar:last-child {
  margin-right: 0; }

@media screen and (min-width: 480px) {
  .homepage__sidebar {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 35.26334%;
    position: absolute;
    right: 0; }
  .homepage__sidebar:last-child {
    margin-right: 0; }
  .homepage__sidebar__fixed-wrapper {
    width: inherit;
    padding: 0;
    position: fixed; } }

@media screen and (max-width: 480px) {
  .homepage__sidebar {
    text-align: center; } }

.homepage__articles {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }

.homepage__articles:last-child {
  margin-right: 0; }

@media screen and (min-width: 480px) {
  .homepage__articles {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 61.158%; }
  .homepage__articles:last-child {
    margin-right: 0; } }

@media screen and (max-width: 480px) {
  .homepage__articles {
    text-align: center;
    padding-top: 40px; } }

.article {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }

.article::after {
  clear: both;
  content: "";
  display: table; }

.article__header {
  text-align: center;
  color: #333;
  font-size: 2em; }

.article__subheader {
  text-align: center;
  color: #ddd;
  font-size: 1em; }

.article__body {
  color: #333;
  font-size: 1em;
  padding: 30px 0px;
  text-align: justify; }

.article__body h2 {
  font-size: 1.7em; }

.article__body h3 {
  font-size: 1.2em; }

.article__body h4 {
  font-size: 1em; }

/*
 * This code is courtesy Ben Balter, modified by Parker Moore for jekyllrb.com
 * http://ben.balter.com/2014/03/13/pages-anchor-links/
 */
.header-link {
  position: relative;
  left: 0.5em;
  opacity: 0;
  font-size: 1em;
  color: #999;
  -webkit-transition: opacity 0.2s ease-in-out 0.1s;
  -moz-transition: opacity 0.2s ease-in-out 0.1s;
  -ms-transition: opacity 0.2s ease-in-out 0.1s; }

.header-link:after {
  content: '#'; }

h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1; }

.list-item {
  display: block;
  font-size: 1.4em; }

.list-item::after {
  clear: both;
  content: "";
  display: table; }

@media screen and (max-width: 480px) {
  .list-item {
    padding: 20px;
    border-top: 1px solid #ddd; } }

.list-item__title {
  margin: 5px 0px; }

.list-item__link {
  color: #333; }

.list-item__date {
  font-size: 0.6em; }

.navbar {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px; }

.navbar::after {
  clear: both;
  content: "";
  display: table; }

.navbar__menu {
  font-size: 1.5em;
  list-style: none; }

.navbar__item {
  float: left;
  margin: 10px; }

.navbar__link {
  color: #333;
  text-decoration: underline;
  margin-right: 20px; }

.sidebar {
  font-size: 1.2em; }

.sidebar__random {
  font-family: monospace;
  font-size: 0.8em;
  background: #f7f7f7;
  text-align: left; }

.sidebar__tab {
  padding-left: 2em; }

.sidebar__h2 {
  padding-top: 2em; }
